{{$collections = ~collections~}}
{{$collection = ~collection~}}
<div class="sidebar p-0">
    <div class="bg-white sidebar-inner">

        <div class="close-filter text-right mb-3 mt-2">
            <i class="icofont-close-line"></i> <span>Close</span> 
        </div>

        @if(~use_collections~)
            @foreach($collections as $cl)
                <div class="sidebar-title">
                    <a href="/cp/@{{$cl->slug}}">
                        <span>@{{$cl->name}}</span>
                    </a>
                </div>
                @if($cl->categories())
                    <div class="sidebar-list">
                        <ul class="p-0">
                            {{$categories = $cl->categories()}}
                            @foreach($categories as $category)
                            <li>
                                <a href="/cp/@{{$cl->slug}}/@{{$category->slug}}">
                                    <span>@{{$category->name}}</span>
                                </a>
                            </li>
                            @endforeach
                        </ul>
                    </div>
                @endif
            @endforeach
        @endif



        @if($collection)
            @if($collection->categories())
                {{$categories = $collection->categories()}}
                @foreach($categories as $category)
                    @if($category->subs())
                    <div class="sidebar-title">
                        <a href="/cp/@{{$category->collection()->slug}}/@{{$category->slug}}">
                            <span>@{{$category->name}}</span>
                        </a>
                    </div>
                    @endif
                    @if($category->subs())
                        <div class="sidebar-list">
                            <ul class="p-0">
                                {{$subs = $category->subs()}}
                                @foreach($subs as $sub)
                                <li>
                                    <a href="/cp/@{{$category->collection()->slug}}/@{{$category->slug.'/'.$sub->slug}}">
                                        <span>@{{$sub->name}}</span>
                                    </a>
                                </li>
                                @endforeach
                            </ul>
                        </div>
                    @endif
                @endforeach
            @endif

            @if($collection->brands())
                <div class="sidebar-title">
                    <span>Featured Brands</span>
                </div>
                <div class="sidebar-list">
                    {{$brands = $collection->brands()}}
                    <ul class="p-0">
                        @foreach($brands as $brand)
                            <li>
                                <a href="/b/@{{str_replace(' ', '-', $brand)}}">
                                    <span>@{{$brand}}</span>
                                </a>
                            </li>
                        @endforeach
                    </ul>
                </div>
            @endif
        @endif

        @if(~colors~ && (count(~colors~) > 0))

            {{$filter_colors = array()}}
            @if(~filter_colors~)
                {{$filter_colors = ~filter_colors~}}
            @endif

            <div class="sidebar-title mt-3">
                <span>Colors</span>
            </div>
            <div class="sidebar-list">
                {{$colors = ~colors~}}
                @foreach($colors as $color)
                <div class="form-group">
                    <label class="checkbox checkbox-light-info" for="ck_@{{$color}}">
                        <input type="checkbox" name="color" class="form-check-input"
                        @{{(in_array($color, $filter_colors)) ? "checked" : null }}
                        id="ck_@{{$color}}" value="@{{$color}}">
                        <span></span> <small class="ml-2">@{{$color}}</small>
                    </label>
                </div>
                @endforeach
            </div>
        @endif

        @if(~sizes~ && (count(~sizes~) > 0))

            {{$filter_sizes = array()}}
            @if(~filter_sizes~)
                {{$filter_sizes = ~filter_sizes~}}
            @endif

            <div class="sidebar-title mt-3">
                <span>Sizes</span>
            </div>
            <div class="sidebar-list">
                {{$sizes = ~sizes~}}
                @foreach($sizes as $size)
                <div class="form-group">
                    <label class="checkbox checkbox-light-info" for="ck_@{{$size}}">
                        <input type="checkbox" name="size" class="form-check-input"
                        @{{(in_array($size, $filter_sizes)) ? "checked" : null }}
                        id="ck_@{{$size}}" value="@{{$size}}">
                        <span></span> <small class="ml-2">@{{$size}}</small>
                    </label>
                </div>
                @endforeach
            </div>
        @endif
    </div>
</div>