<footer class="mt-0">
    <!-- <div class="col-md-12 bg-white footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-4">
                    <h6><b>Wearslot - No. 1 Online Best Fashion Store</b></h6>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia recusandae sequi aliquam. Ea, nihil eaque deserunt neque laborum perspiciatis veritatis sunt sint unde omnis delectus rem enim reprehenderit commodi amet!</p>
                </div>
                <div class="col-md-6 p-4">
                    <h6 class="mb-1">Subscribe For Newsletters</h6>
                    <p class="mb-3"><small>Subscribe to our newsletter to get updates on our latest offers!</small></p>
                    <form action="" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" placeholder="Your email address" name="email_newsletters" class="form-control bg-light no-border">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary"><b>Subscribe</b></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-md-12 bg-main p-3">
        <div class="container text-center">
            <p class="text-white"><b class="">Featured Collections:</b> 
                @if(~collections~)
                    {{$collections = ~collections~}}
                    @foreach($collections as $collection)
                        <a href="/collection/@{{$collection->slug}}">
                            <small>@{{$collection->name}}, </small>
                        </a>
                    @endforeach
				@endif
            </p>
        </div>
    </div>
    <div class="col-md-12 text-white pt-5 pb-5 links">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2"> WEARSLOT</h6>
                    <ul>
                        <li><a href=""> <small>About us</small> </a></li>
                        <li><a href=""> <small>Contact us</small> </a></li>
                        <li><a href=""> <small>Careers</small></a></li>
                        <li><a href=""> <small>Terms & Conditons</small></a></li>
                        <li><a href=""> <small>Privacy Policy</small></a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2">HELP CENTER</h6>
                    <ul>
                        <li><a href=""> <small>Support</small> </a></li>
                        <li><a href=""> <small>How to shop</small> </a></li>
                        <li><a href=""> <small>Delivery</small></a></li>
                        <li><a href=""> <small>Return</small></a></li>
                        <li><a href=""> <small>Report a Product</small></a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2">AFFILIATE</h6>
                    <ul>
                        <li><a href=""> <small>Sell on Wearslot</small></a></li>
                        <li><a href=""> <small>Become a Logistics Partner</small></a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2">DOWNLOAD APP</h6>

                    <div class="d-inline-flex app-button border border-radius p-1 pl-3 pr-3 align-items-center">
                        <div class="app-icon mr-1">
                            <i class="icofont-brand-apple" style="font-size: 24px;"></i>
                        </div>
                        <div class="app-text">
                            <small class="m-0 p-0">Download on the</small>
                            <p class="m-0" style="line-height: 20px;"><b>App Store</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-9 mb-3">
                    <h6 class="mb-3">PAYMENT METHODS</h6>
                    <div class="d-flex">

                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-3">GET MORE UPDATES</h6>
                    <div class="d-flex social-icons">
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-google-plus"></i></a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-md-12 p-3">
        <div class="container text-white border-top pt-3">
            <p class="text-center">
                <small>
                    &copy; 2020 <a href="" class="text-primary">Wearslot</a>. 
                    Powered by <a href="">Violet Inc.</a>
                </small>
            </p>
        </div>
    </div>
</footer>