<footer class="mt-5 footer">
    <div class="col-md-12 bg-white pt-5 pb-3 links">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2"> 
                        <img src="/public/image/logos/logo-color.svg" class="desktop" alt="" width="160px">
						<img src="/public/image/logos/logo-color.svg" class="mobile" alt="" width="130px">
                    </h6>
                    <ul>
                        <li><a href="https://coporate.@{{env('DOMAIN_NAME')}}"> Our Company </a></li>
                        <li><a href="https://coporate.@{{env('DOMAIN_NAME')}}/services">Services</a></li>
                        <li><a href="https://corporate.@{{env('DOMAIN_NAME')}}/terms-and-conditions">Terms & Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="https://coporate.@{{env('DOMAIN_NAME')}}/careers">Careers</a></li>
                        <!-- <li><a href="https://coporate.@{{env('DOMAIN_NAME')}}/partners">Our Partners</a></li> -->
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2">HELP CENTER</h6>
                    <ul>
                        <li><a href="/support"> Support </a></li>
                        <li><a href="/faqs"> FAQs </a></li>
                        <li><a href="/delivery">Delivery</a></li>
                        <li><a href="/returns">Return Policy</a></li>
                        <li><a href="/report-a-product">Report a Product</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2">AFFILIATE</h6>
                    <ul>
                        <li><a href="https://sell.wearslot.com"> Sell on Wearslot</a></li>
                        <li><a href="https://ads.wearslot.com"> Advertise with us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-2">DOWNLOAD APP</h6> 
                    <!-- icofont-brand-android-robot -->

                    <div class="d-inline-flex text-secondary app-button border border-radius p-1 pl-3 pr-3 align-items-center">
                        <div class="app-icon mr-1">
                            <i class="icofont-brand-apple" style="font-size: 24px;"></i>
                        </div>
                        <div class="app-text">
                            <small class="m-0 p-0">Download on the</small>
                            <p class="m-0" style="line-height: 20px;"><b>App Store</b></p>
                        </div>
                    </div>

                    <div class="d-inline-flex text-secondary app-button border border-radius mt-2 p-1 pl-3 pr-3 align-items-center">
                        <div class="app-icon mr-1">
                            <i class="icofont-brand-android-robot" style="font-size: 24px;"></i>
                        </div>
                        <div class="app-text">
                            <small class="m-0 p-0">Download on the</small>
                            <p class="m-0" style="line-height: 20px;"><b>Play Store</b></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-9 mb-3">
                    <h6 class="mb-3">PAYMENT METHODS</h6>
                    <div class="d-flex">
                        <img src="/public/image/payments/cards.png" alt="">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <h6 class="mb-3">GET MORE UPDATES</h6>
                    <div class="d-flex social-icons text-secondary">
                        <a href="https://www.facebook.com/Wearslot-106399284726367" target="_blank"><i class="icofont-facebook"></i></a>
                        <a href="https://twitter.com/wearslot" target="_blank"><i class="icofont-twitter"></i></a>
                        <a href="https://www.instagram.com/wearslot/" target="_blank"><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/wearslot" target="_blank"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-md-12 p-2">
        <div class="container bg-white pt-3">
            <p class=""> 
                &copy; @{{date('Y')}} 
                <a href="https://wearslot.com" class="text-primary">Wearslot.com</a>. 
                All right reserved.
            </p>
        </div>
    </div>
</footer>