<footer>
    <div class="footer-top">
      <div class="container">
        <div class="footbf">

        </div>
      </div>
    </div>
    <div class="middle-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12 fborder">
            <aside id="column-left1" class="col-xs-12">
              <div>
                <div class="storeinfo">
                  <h5><span>Contact us</span>
                    <button type="button" class="btn toggle collapsed" data-toggle="collapse"
                      data-target="#contact"></button>
                  </h5>
                  <div id="contact" class="collapse footer-collapse footcontact">
                    <ul class="list-unstyled f-left">
                      <li><svg width="20px" height="20px">
                          <use xlink:href="#add"></use>
                        </svg>Storzo Multistore</li>
                      <li><svg width="20px" height="20px">
                          <use xlink:href="#phone"></use>
                        </svg>123-456-789</li>
                      <li><svg width="22px" height="22px">
                          <use xlink:href="#mail"></use>
                        </svg>demo@demo.com</li>
                    </ul>
                    <h5><span>Payment</span></h5>
                    <ul class="list-inline list-unstyled footpay">
                      <li><svg>
                          <use xlink:href="#ae"></use>
                        </svg></li>
                      <li><svg>
                          <use xlink:href="#mc"></use>
                        </svg></li>
                      <li><svg>
                          <use xlink:href="#dis"></use>
                        </svg></li>
                      <li><svg>
                          <use xlink:href="#visa"></use>
                        </svg></li>
                    </ul>
                  </div>
                </div>
              </div>

              <script type="text/javascript">
                  $(document).ready(function () {
                    $("#owl-testi").owlCarousel({
                      itemsCustom: [
                        [0, 1]
                      ],
                      autoPlay: false,
                      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                      navigation: false,
                      pagination: false
                    });
                  });

              </script>
            </aside>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-12">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>Information
                  <button type="button" class="btn toggle collapsed" data-toggle="collapse"
                    data-target="#info"></button>
                </h5>
                <div id="info" class="collapse footer-collapse">
                  <ul class="list-unstyled">
                    <li><a href="index8816.html?route=information/information&amp;information_id=4">About Us</a></li>
                    <li><a href="index1766.html?route=information/information&amp;information_id=6">Delivery
                        Information</a></li>
                    <li><a href="index1679.html?route=information/information&amp;information_id=3">Privacy Policy</a>
                    </li>
                    <li><a href="index99e4.html?route=information/information&amp;information_id=5">Terms &amp;
                        Conditions</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>My Account
                  <button type="button" class="btn toggle collapsed" data-toggle="collapse"
                    data-target="#account"></button>
                </h5>
                <div id="account" class="collapse footer-collapse">
                  <ul class="list-unstyled lastb">
                    <li><a href="indexe223.html?route=account/account">My Account</a></li>
                    <li><a href="indexe223.html?route=account/order">Order History</a></li>
                    <li><a href="indexe223.html?route=account/wishlist">Wish List</a></li>
                    <li><a href="indexe223.html?route=account/newsletter">Newsletter</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>Services
                  <button type="button" class="btn  toggle collapsed" data-toggle="collapse"
                    data-target="#service"></button>
                </h5>
                <div id="service" class="collapse footer-collapse">
                  <ul class="list-unstyled lastb">
                    <li><a href="index2724.html?route=information/contact">Contact Us</a></li>
                    <li><a href="index7cb2.html?route=information/sitemap">Site Map</a></li>
                    <li><a href="index4dd2.html?route=account/voucher">Gift Certificates</a></li>
                    <li><a href="index3d18.html?route=affiliate/login">Affiliate</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 fborder">
                <h5>Extras
                  <button type="button" class="btn  toggle collapsed" data-toggle="collapse"
                    data-target="#extra"></button>
                </h5>
                <div id="extra" class="collapse footer-collapse">
                  <ul class="list-unstyled lastb">
                    <li><a href="indexd773.html?route=product/manufacturer">Brands</a></li>
                    <li><a href="indexf110.html?route=product/special">Specials</a></li>
                    <li><a href="index71ba.html?route=account/return/add">Returns</a></li>
                    <li><a href="indexc295.html?route=information/blogger/blogs">Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foo-bottom text-center hidden-xs">
      <div class="container">
        <div>
          <div class="foot-tag">
            <ul class="header-link">
              <li class="d-inline-block"><a href="#">sofa</a></li>
              <li class="d-inline-block"><a href="#">chair</a></li>
              <li class="d-inline-block"><a href="#">dining table</a></li>
              <li class="d-inline-block"><a href="#">desk</a></li>
              <li class="d-inline-block"><a href="#">table</a></li>
              <li class="d-inline-block"><a href="#">livingroom</a></li>
              <li class="d-inline-block"><a href="#">bathroom</a></li>
              <li class="d-inline-block"><a href="#">badroom</a></li>
              <li class="d-inline-block"><a href="#">stool</a></li>
              <li class="d-inline-block"><a href="#">table lamp</a></li>
              <li class="d-inline-block"><a href="#">night stand</a></li>
              <li class="d-inline-block"><a href="#">pillow</a></li>
              <li class="d-inline-block"><a href="#">bar table</a></li>
              <li class="d-inline-block"><a href="#">tv</a></li>
              <li class="d-inline-block"><a href="#">radio</a></li>
              <li class="d-inline-block"><a href="#">clock</a></li>
              <li class="d-inline-block"><a href="#">computer desk</a></li>
              <li class="d-inline-block"><a href="#">chair </a></li>
              <li class="d-inline-block"><a href="#">stool</a></li>
              <li class="d-inline-block"><a href="#">bed</a></li>
              <li class="d-inline-block"><a href="#">stool</a></li>
              <li class="d-inline-block"><a href="#">table lamp</a></li>
              <li class="d-inline-block"><a href="#">night stand</a></li>
            </ul>
          </div>
        </div>

        <script type="text/javascript">
          $(document).ready(function () {
            $("#owl-testi").owlCarousel({
              itemsCustom: [
                [0, 1]
              ],
              autoPlay: false,
              navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
              navigation: false,
              pagination: false
            });
          });

        </script>

      </div>
    </div>
    <div class="copy">
      <div class="container">

        <div class="text-center">Powered By <a href="#">Violet Inc.</a> Mendiz &copy; 2020</div>


      </div>
    </div>
  </footer>
  <a href="#" id="scroll" title="Scroll to Top" style="display: none;">
    <i class="fa fa-angle-up"></i>
  </a>