<header class="header">
	<div class="col-lg-12 col-md-12 col-sm-12 top-promotion">

	</div>
	<div class="col-md-12" id="header-middle">
		<div class="row pt-3 pb-2 header-inner">
			<div class="col-md-3">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<div class="menu">
							<div class="menu-btn mr-3">
								<i class="icofont-navigation-menu"></i>
							</div>
							<div class="menu-bar">
								<div class="menu-inner">
									<div class="col-md-12">
										<div class="row">
											@if(~collections~)
												{{$collections = ~collections~}}
												@foreach($collections as $collection)
													<div class="col-md-2 mb-3">
														<a href="/collections/@{{$collection->slug}}"><h6>@{{$collection->name}}</h6></a>
														<ul class="p-0">
															@if(is_array($collection->categories()))
																{{$categories = $collection->categories()}}
																@foreach($categories as $category)
																	<a href="/collections/@{{$collection->slug}}/@{{$category->slug}}">
																		<li><small>@{{$category->name}}</small></li>
																	</a>
																@endforeach
															@endif
														</ul>
													</div>
												@endforeach
											@endif
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="logo pt-1">
							<a href="/">
								<h4 class="text-white"><b>WEARSLOT</b></h4>
							</a>
						</div>
					</div>
					<div class="mobile-search-button">
						<i class="pe-7s-search"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 col-sm-12 search">
				<div class="row">
					<div class="col-xs-2 col-sm-12 col-md-2">
						<div class="row">
							<select name="category" id="" class="selectpicker form-control">
								<option value="all">All</option>
							</select>
						</div>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<div class="row">
							<div class="input-group">
								<input type="text" name="keywords" class="form-control">
								<div class="input-group-append">
									<button class="btn btn-primary btn-sm">
										<i class="pe-7s-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top-side">
				<ul class="d-flex justify-content-between">
					<li class="text-center text-white">
						<a href=""><i class="pe-7s-user"></i> Account</a>
					</li>
					<li class="text-center text-white">
						<a href=""><i class="pe-7s-cart"></i> Cart</a>
					</li>
					<a href="">
						<li class="text-center text-white">
							<i class="pe-7s-info"></i> Help
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
</header>