<header class="header">
	<div class="col-lg-12 col-md-12 col-sm-12 top-promotion">

	</div>
	<div class="col-md-12" id="header-middle">
		<div class="row pt-3 pb-2 header-inner">
			<div class="col-md-3">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<div class="menu">
							<div class="menu-btn mr-3">
								<i class="icofont-navigation-menu"></i>
							</div>
							<div class="menu-bar">
								<div class="menu-inner">
									<div class="col-md-12">
										<div class="row">
											@if(~collections~)
												{{$collections = ~collections~}}
												@foreach($collections as $collection)
													<div class="col-md-3 mb-3">
														<a href="/collections/@{{$collection->slug}}"><h6>@{{$collection->name}}</h6></a>
														<ul class="p-0">
															@if(is_array($collection->categories()))
																{{$categories = $collection->categories()}}
																@foreach($categories as $category)
																	<a href="/collections/@{{$collection->slug}}/@{{$category->slug}}">
																		<li><small>@{{$category->name}}</small></li>
																	</a>
																@endforeach
															@endif
														</ul>
													</div>
												@endforeach
											@endif
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="logo pt-1">
							<a href="/">
								<h4 class="text-white"><b>WEARSLOT</b></h4>
							</a>
						</div>
					</div>
					<div class="mobile-search-button">
						<i class="pe-7s-search"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 col-sm-12 search">
				<div class="row">
					<div class="col-xs-2 col-sm-12 col-md-2">
						<div class="row">
							<select name="category" id="" class="selectpicker form-control">
								<option value="all">All</option>
							</select>
						</div>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<div class="row">
							<div class="input-group">
								<input type="text" name="keywords" class="form-control">
								<div class="input-group-append">
									<button class="btn btn-primary btn-sm">
										<i class="pe-7s-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top-side">
				<ul class="d-flex justify-content-between">
					<li class="text-center text-white uac-top-menu">
						@if(~auth~)
							{{$customer = ~customer~}}
							<a href="#">
								<i class="pe-7s-user"></i> 
								<span style="font-weight: 600;">Hi! @{{$customer->firstname}}</span> 
							</a>
							<div class="uac-top-menu-list">
								<ul class="uac-top-inner text-left">
									<a href="/uac/dashboard">
										<li class="active"> <i class="flaticon-laptop"></i> <span>Dashboard</span></li>
									</a>
									<a href="/uac/orders">
										<li> <i class="flaticon-open-box"></i> <span>Orders</span></li>
									</a>
									<a href="/uac/logout">
										<li class="">
											<i class="flaticon-logout" style="font-size: 15px;"></i> <span>Sign out</span> 
										</li>
									</a>
								</ul>
							</div>
						@else
							<a href="/sign-in"><i class="pe-7s-user"></i> <span>Account</span> </a>
							<div class="uac-top-menu-list">
								<ul class="uac-top-inner text-left">
									<a href="/sign-in">
										<li class=""><span>Sign in</span></li>
									</a>
									<a href="/sign-up" class="border-top">
										<li class="btn btn-inverse-primary text-center"> <span>Create Account</span></li>
									</a>
								</ul>
							</div>
						@endif
					</li>
					<li class="text-center text-white cart-btn">
						<a href="/cart"><i class="pe-7s-cart"></i> <span>Cart</span> </a>
					</li>
					<li class="text-center text-white">
						<a href="/help"><i class="flaticon-questions-circular-button"></i> <span>Help</span> </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>