<div class="webi-newsletter  webi-newsletter hide" id="newsletter_5f3d9739eeeb0" data-mode="popup">
    <form id="formNewLestter" method="post"
        action="/newsletter/subscribe"
        class="formNewLestter  white-popup newsletter-bg"
        style="background-image: url('public/image/catalog/newsletter.jpg')">
        <div class="inner">
            <!-- <h3 >Newsletter</h3> -->
            <div class="description-top">
                <p>
                <h2>subscribe newsletter</h2>
                <p>Subscribe our newsletters now and stay up-to-date with new collections, the
                    latest updates and
                    exclusive offers.</p>
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-md inputNew"
                    onblur="javascript:if(this.value=='')this.value='Your email address';"
                    onfocus="javascript:if(this.value=='Your email address')this.value='';"
                    value="Your email address" size="18" name="email">
            </div>
            <div class="button-submit">
                <button type="submit" name="submitNewsletter"
                    class="btn btn-danger">Subscribe</button>
            </div>
            <input type="hidden" value="1" name="action">
            <div class="valid"></div>
            <div class="description-bottom">
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" checked="false"> Close & Don't show this again!!!
                </label>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
      $("#newsletter_5f3d9739eeeb0").webiNewsletter().work('Email is not valid!');
</script>