.ReviewsOuterContainer {
  width: 100%;
  min-width: 200px;
  height: 1099px;
  position: relative; }
  .ReviewsOuterContainer .hCenter,
  .ReviewsOuterContainer .vhCenter {
    position: absolute;
    left: 0;
    right: 0; }
  .ReviewsOuterContainer .VerticalWidget *,
  .ReviewsOuterContainer .vw__content {
    box-sizing: border-box;
    transition: none; }
  .ReviewsOuterContainer .hCenter,
  .ReviewsOuterContainer .hRCenter {
    margin-left: auto;
    margin-right: auto; }
  .ReviewsOuterContainer .RatingStars:after,
  .ReviewsOuterContainer .ReviewsLogo:after,
  .ReviewsOuterContainer .cfx:after,
  .ReviewsOuterContainer .vw__footer:after,
  .ReviewsOuterContainer .vw__header:after {
    content: "";
    display: table;
    clear: both; }
  .ReviewsOuterContainer .blockWrap {
    display: block; }
  .ReviewsOuterContainer .inlineWrap {
    display: inline-block; }
  .ReviewsOuterContainer .vhCenter {
    top: 0;
    bottom: 0;
    margin: auto; }
  .ReviewsOuterContainer .vCenter {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto; }
  .ReviewsOuterContainer .hRCenter,
  .ReviewsOuterContainer .reviewWrap,
  .ReviewsOuterContainer .vw__content,
  .ReviewsOuterContainer .vw__header {
    position: relative; }
  .ReviewsOuterContainer .hRCenter {
    display: block; }
  .ReviewsOuterContainer .mBorderRadius {
    border-radius: 6px; }
  @media screen and (min-width: 381px) {
    .ReviewsOuterContainer .show-mobile {
      display: none; } }
  @media screen and (max-width: 380px) {
    .ReviewsOuterContainer .hide-mobile {
      display: none; } }
  .ReviewsOuterContainer .ReviewsLogo {
    display: inline-block; }
  .ReviewsOuterContainer .ReviewsLogo .ReviewsLogo__star {
    float: left;
    display: inline-block;
    margin-right: 5px; }
  .ReviewsOuterContainer .ReviewsLogo .ReviewsLogo__star i {
    color: #12cf6c;
    font-size: 21px; }
  .ReviewsOuterContainer .ReviewsLogo .ReviewsLogo__text {
    float: left;
    display: inline-block; }
  .ReviewsOuterContainer .ReviewsLogo .ReviewsLogo__text i {
    color: #000;
    font-size: 16px;
    line-height: 24px; }
  .ReviewsOuterContainer .ReviewsLogo--small .ReviewsLogo__star i {
    font-size: 16px;
    line-height: 21px; }
  .ReviewsOuterContainer .ReviewsLogo--small .ReviewsLogo__text i {
    font-size: 12px;
    line-height: 21px; }
  .ReviewsOuterContainer .ReviewsLogo--medium .ReviewsLogo__star i {
    font-size: 21px;
    line-height: 23px; }
  .ReviewsOuterContainer .ReviewsLogo--medium .ReviewsLogo__text i {
    font-size: 16px;
    line-height: 24px; }
  .ReviewsOuterContainer .ReviewsLogo--large .ReviewsLogo__star {
    margin-right: 8px; }
  .ReviewsOuterContainer .ReviewsLogo--large .ReviewsLogo__star i {
    font-size: 32px;
    line-height: 32px; }
  .ReviewsOuterContainer .ReviewsLogo--large .ReviewsLogo__text i {
    font-size: 25px;
    line-height: 32px; }
  .ReviewsOuterContainer .RatingVerdict {
    font-size: 24px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle; }
  @media screen and (min-width: 640px) {
    .ReviewsOuterContainer .RatingVerdict {
      padding-left: 2%; } }
  .ReviewsOuterContainer .RatingStars {
    display: inline-block;
    vertical-align: middle; }
  .ReviewsOuterContainer .RatingStars i.RatingStars__star {
    display: inline-block;
    float: left;
    color: #de5920; }
  .ReviewsOuterContainer .RatingStars--small i.RatingStars__star {
    font-size: 17px;
    margin: 0 1px; }
  .ReviewsOuterContainer .RatingStars--small i.RatingStars__star.ruk-icon-percentage-star-25-01,
  .ReviewsOuterContainer .RatingStars--small i.RatingStars__star.ruk-icon-percentage-star-50-01,
  .ReviewsOuterContainer .RatingStars--small i.RatingStars__star.ruk-icon-percentage-star-75-01 {
    font-size: 14px; }
  .ReviewsOuterContainer .RatingStars--medium i.RatingStars__star {
    font-size: 24px;
    margin: 0 1px; }
  .ReviewsOuterContainer .RatingStars--medium i.RatingStars__star.ruk-icon-percentage-star-25-01,
  .ReviewsOuterContainer .RatingStars--medium i.RatingStars__star.ruk-icon-percentage-star-50-01,
  .ReviewsOuterContainer .RatingStars--medium i.RatingStars__star.ruk-icon-percentage-star-75-01 {
    font-size: 18px;
    line-height: 21px; }
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star {
    font-size: 34px;
    margin: 0 1px; }
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star.ruk-icon-percentage-star-25-01,
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star.ruk-icon-percentage-star-50-01,
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star.ruk-icon-percentage-star-75-01 {
    font-size: 26px;
    line-height: 32px; }
  .ReviewsOuterContainer .RatingStatisticsWrap {
    display: inline-block; }
  .ReviewsOuterContainer .RatingStatistics {
    display: inline-block;
    font-size: 18px;
    padding: 0 2%; }
  .ReviewsOuterContainer .RatingStatistics .RatingStatistics__Number {
    display: inline-block;
    color: #000;
    font-weight: 500; }
  .ReviewsOuterContainer .RatingStatistics .RatingStatistics__Text {
    display: inline-block;
    color: #a3a3a3;
    font-weight: lighter; }
  .ReviewsOuterContainer .vw__header {
    background-color: #fff;
    padding: 15px 10px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 5; }
  .ReviewsOuterContainer .vw__header .header__left {
    float: left;
    width: 45%;
    text-align: center; }
  @media screen and (min-width: 480px) {
    .ReviewsOuterContainer .vw__header .header__left {
      width: 40%; } }
  @media screen and (min-width: 580px) {
    .ReviewsOuterContainer .vw__header .header__left {
      width: 30%; } }
  @media screen and (min-width: 640px) {
    .ReviewsOuterContainer .vw__header .header__left {
      text-align: left;
      width: 50%; } }
  @media screen and (max-width: 360px) {
    .ReviewsOuterContainer .vw__header .header__left {
      width: 100%; } }
  .ReviewsOuterContainer .vw__header .header__right {
    float: right;
    width: 55%;
    text-align: right;
    padding-top: 12px; }
  @media screen and (min-width: 480px) {
    .ReviewsOuterContainer .vw__header .header__right {
      width: 40%; } }
  @media screen and (min-width: 580px) {
    .ReviewsOuterContainer .vw__header .header__right {
      width: 30%; } }
  @media screen and (min-width: 640px) {
    .ReviewsOuterContainer .vw__header .header__right {
      padding-top: 7px;
      width: 50%; } }
  @media screen and (max-width: 360px) {
    .ReviewsOuterContainer .vw__header .header__right {
      width: 100%;
      text-align: center; } }
  .ReviewsOuterContainer .vw__content {
    background-color: #fafafa;
    border-radius: 0;
    padding: 15px;
    max-height: 1000px;
    overflow-y: auto; }
  .ReviewsOuterContainer .reviewWrap {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    white-space: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0 5px 30px;
    border-radius: 4px; }
  .ReviewsOuterContainer .reviewWrap .reviewHeader {
    width: 100%;
    margin-bottom: 5px;
    padding: 0 5px; }
  .ReviewsOuterContainer .reviewWrap .reviewHeader .author {
    color: #494949;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin: 13px 5px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    max-width: 110px; }
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap {
    display: inline-block;
    float: left;
    margin-top: 10px; }
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i {
    color: #de5920;
    display: block;
    float: left;
    font-size: 24px;
    margin: 0 1px; }
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i.ruk-icon-percentage-star-25-01,
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i.ruk-icon-percentage-star-50-01,
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i.ruk-icon-percentage-star-75-01 {
    font-size: 17px;
    line-height: 22px; }
  .ReviewsOuterContainer .reviewWrap .reviewText p {
    color: #494949;
    font-size: 13px;
    margin: 10px 0;
    padding: 0 5px; }
  .ReviewsOuterContainer .reviewWrap .reviewText .long_text,
  .ReviewsOuterContainer .reviewWrap .reviewText.expanded .short_text {
    display: none; }
  .ReviewsOuterContainer .reviewWrap .reviewText.expanded .long_text {
    display: block; }
  .ReviewsOuterContainer .reviewWrap .reviewText.no_expand .short_text {
    display: none; }
  .ReviewsOuterContainer .reviewWrap .reviewText.no_expand .long_text {
    display: block; }
  .ReviewsOuterContainer .reviewWrap .reviewText.no_expand .long_text a {
    display: none; }
  .ReviewsOuterContainer .reviewWrap .review__expandBtn {
    background-color: #E5E5E5;
    border-radius: 2px;
    color: #a6a6a6;
    display: inline-block;
    margin: 0 5px;
    padding: 1px 5px;
    position: relative;
    top: 2px;
    cursor: pointer; }
  .ReviewsOuterContainer .reviewWrap .review__expandBtn:hover {
    background-color: #ddd;
    color: #9e9e9e; }
  .ReviewsOuterContainer .reviewWrap .reviewMeta {
    position: absolute;
    bottom: 10px;
    right: 5px; }
  .ReviewsOuterContainer #photoBox img,
  .ReviewsOuterContainer #photoBoxFade {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .ReviewsOuterContainer .reviewWrap .reviewMeta p {
    color: #959595;
    font-size: 12px;
    text-align: right;
    margin: 0;
    padding: 0 5px;
    white-space: nowrap; }
  .ReviewsOuterContainer .vw__footer {
    display: block;
    background-color: #f2f2f2;
    border-radius: 0 0 6px 6px;
    padding: 7px 15px 0; }
  .ReviewsOuterContainer #photoBox,
  .ReviewsOuterContainer #photoBoxFade {
    position: fixed;
    display: none; }
  .ReviewsOuterContainer .vw__footer .footer__moreRevs {
    color: #ababab;
    float: left;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 7px; }
  .ReviewsOuterContainer .vw__footer .footer__moreRevs:hover {
    color: #9e9e9e; }
  .ReviewsOuterContainer .vw__footer .ReviewsLogo {
    float: right;
    margin-bottom: 7px; }
  @media screen and (max-width: 280px) {
    .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap {
      width: 100%; }
    .ReviewsOuterContainer .vw__footer {
      text-align: center; }
    .ReviewsOuterContainer .vw__footer .footer__moreRevs {
      width: 100%;
      text-align: center; }
    .ReviewsOuterContainer .vw__footer .ReviewsLogo {
      float: none; } }
@-moz-document url-prefix() {
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star.ruk-icon-percentage-star-25-01,
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star.ruk-icon-percentage-star-50-01,
  .ReviewsOuterContainer .RatingStars--large i.RatingStars__star.ruk-icon-percentage-star-75-01 {
    line-height: 30px; }
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i.ruk-icon-percentage-star-25-01,
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i.ruk-icon-percentage-star-50-01,
  .ReviewsOuterContainer .reviewWrap .reviewHeader .reviewStarsWrap i.ruk-icon-percentage-star-75-01 {
    line-height: 23px; } }
  .ReviewsOuterContainer #photoBoxFade {
    background: rgba(0, 0, 0, 0.2);
    z-index: 6; }
  .ReviewsOuterContainer #photoBox {
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
    border-radius: 2px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    z-index: 7; }
  .ReviewsOuterContainer #photoBox img {
    position: absolute;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05); }
  .ReviewsOuterContainer .closeButton {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #000;
    color: #fff;
    border-radius: 45px;
    border: 1px solid #fff;
    width: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    cursor: pointer; }
  .ReviewsOuterContainer .review_images div {
    background-size: cover;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 70px;
    width: 70px;
    float: left; }

.inner-page a[href].vw__footer {
  display: block; }

/*# sourceMappingURL=reviews-list.css.map */
