.BadgeOutgerContainer {
  width: 100%;
  min-width: 140px;
  height: 203px;
  position: relative; }
  .BadgeOutgerContainer .hCenter,
  .BadgeOutgerContainer .vhCenter {
    position: absolute;
    left: 0;
    right: 0; }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats .statsWrap:after,
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats:after,
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo:after,
  .BadgeOutgerContainer .Badge .Badge__footer .reviewsLogoWrap:after,
  .BadgeOutgerContainer .cfx:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 381px) {
    .BadgeOutgerContainer .show-mobile {
      display: none; } }
  @media screen and (max-width: 380px) {
    .BadgeOutgerContainer .hide-mobile {
      display: none; } }
  .BadgeOutgerContainer .blockWrap {
    display: block; }
  .BadgeOutgerContainer .inlineWrap {
    display: inline-block; }
  .BadgeOutgerContainer .Badge,
  .BadgeOutgerContainer .container380,
  .BadgeOutgerContainer .container640,
  .BadgeOutgerContainer .hRCenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .BadgeOutgerContainer .vhCenter {
    top: 0;
    bottom: 0;
    margin: auto; }
  .BadgeOutgerContainer .vCenter {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto; }
  .BadgeOutgerContainer .hCenter {
    margin-left: auto;
    margin-right: auto; }
  .BadgeOutgerContainer .container380,
  .BadgeOutgerContainer .container640,
  .BadgeOutgerContainer .hRCenter {
    position: relative; }
  .BadgeOutgerContainer .mBorderRadius {
    border-radius: 6px; }
  .BadgeOutgerContainer .container380 {
    max-width: 380px;
    width: 100%; }
  .BadgeOutgerContainer .container640 {
    max-width: 640px;
    width: 100%; }
  .BadgeOutgerContainer .Badge {
    border-radius: 4px;
    background-color: #f4f4f4;
    box-shadow: 0 3px 0 #dbdbdb;
    width: 100%; }
  .BadgeOutgerContainer .Badge * {
    box-sizing: border-box;
    transition: none; }
  .BadgeOutgerContainer .Badge .Badge__content {
    background-color: #12d06c;
    border-radius: 4px; }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stars {
    color: #fff;
    font-size: 30px;
    line-height: 26px;
    padding: 11px 0;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-25-01,
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-50-01,
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-75-01 {
    position: relative; }
  @media screen and (min-width: 250px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars {
      font-size: 38px; }
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-25-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-50-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-75-01 {
      font-size: 30px;
      top: -5px; } }
  @media screen and (max-width: 249px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-25-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-50-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-75-01 {
      font-size: 24px;
      top: -4px; } }
  @media screen and (max-width: 180px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars {
      font-size: 26px;
      line-height: 22px;
      padding: 8px 0; }
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i {
      margin-right: -4px; }
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-25-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-50-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-75-01 {
      font-size: 21px;
      top: -3px; } }
  @media screen and (max-width: 160px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars {
      font-size: 22px;
      line-height: 18px;
      padding: 8px 0; }
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-25-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-50-01,
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stars i.ruk-icon-percentage-star-75-01 {
      font-size: 17px;
      top: -3px; } }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 13px 0;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05); }
  @media screen and (min-width: 250px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stats {
      font-size: 20px;
      padding: 15px 0; } }
  @media screen and (max-width: 180px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stats {
      font-size: 14px;
      padding: 8px 0; } }
  @media screen and (max-width: 160px) {
    .BadgeOutgerContainer .Badge .Badge__content .Badge__stats {
      font-size: 12px;
      padding: 8px 0; } }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats .statsWrap {
    display: inline-block;
    max-width: 200px;
    width: 100%; }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats .stats__left,
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats .stats__right {
    float: left; }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats .stats__left {
    width: 40%;
    text-align: right; }
  .BadgeOutgerContainer .Badge .Badge__content .Badge__stats .stats__right {
    width: 60%;
    padding-left: 2%;
    text-align: left; }
  .BadgeOutgerContainer .Badge .Badge__footer {
    display: block;
    text-align: center;
    padding: 15px 0 10px; }
  @media screen and (min-width: 250px) {
    .BadgeOutgerContainer .Badge .Badge__footer {
      padding: 20px 0 15px; } }
  @media screen and (max-width: 180px) {
    .BadgeOutgerContainer .Badge .Badge__footer {
      padding: 10px 0 5px; } }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo {
    display: inline-block;
    right: 15px;
    height: 23px;
    width: 130px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo .ReviewsLogo__star {
    float: left;
    display: inline-block;
    margin-right: 5px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo .ReviewsLogo__star i {
    color: #12cf6c;
    font-size: 21px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo .ReviewsLogo__text {
    float: left;
    display: inline-block; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo .ReviewsLogo__text i {
    color: #000;
    font-size: 16px;
    line-height: 24px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--small .ReviewsLogo__star i {
    font-size: 16px;
    line-height: 21px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--small .ReviewsLogo__text i {
    font-size: 12px;
    line-height: 21px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--medium .ReviewsLogo__star i {
    font-size: 21px;
    line-height: 23px; }
  @media screen and (min-width: 250px) {
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo .ReviewsLogo__star {
      margin-right: 8px; }
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--medium .ReviewsLogo__star i {
      font-size: 26px;
      line-height: 25px; } }
  @media screen and (max-width: 160px) {
    .BadgeOutgerContainer .Badge .Badge__footer {
      padding: 6px 0 3px; }
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--medium .ReviewsLogo__star i {
      font-size: 16px; } }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--medium .ReviewsLogo__text i {
    font-size: 16px;
    line-height: 24px; }
  @media screen and (min-width: 250px) {
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--medium .ReviewsLogo__text i {
      font-size: 22px;
      line-height: 26px; }
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo {
      width: 175px; } }
  @media screen and (max-width: 160px) {
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--medium .ReviewsLogo__text i {
      font-size: 13px; } }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--large .ReviewsLogo__star {
    margin-right: 8px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--large .ReviewsLogo__star i {
    font-size: 32px;
    line-height: 32px; }
  .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo--large .ReviewsLogo__text i {
    font-size: 25px;
    line-height: 32px; }
  @media screen and (max-width: 160px) {
    .BadgeOutgerContainer .Badge .Badge__footer .ReviewsLogo {
      width: 110px; } }

/*# sourceMappingURL=reviews-badge.css.map */
