RewriteEngine On
RewriteBase /

#RewriteCond %{HTTP_HOST} ^(^.*)\.localhost
#RewriteRule (.*) index.php?subdomain=$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
