RewriteEngine On

RewriteCond %{HTTP_HOST} ^(.*)\.localhost
RewriteRule ^(.*)$ subdomains.php?website=$1 [L,NC,QSA]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
