<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        var webSocket = new WebSocket("ws://localhost:3000");

        webSocket.onopen = function(event) { 
			alert("Connection is established!");	
		}
		webSocket.onmessage = function(event) {
			console.log(event);
			// var Data = JSON.parse(event.data);
			// alert(event.data);
			webSocket.send("Message Recieved Sir.");
			// $('#chat-message').val('');
		};
		
		webSocket.onerror = function(event){
			alert("Problem due to some Error");
		};
		webSocket.onclose = function(event){
			alert("Connection Closed");
		}; 
    </script>
</body>
</html>