@{{extends "shared/layout"}}

<div class="banner col-md-12 mt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-9 slide-wrapper">
				<div class="slideshow owl-carousel">
					<div class="slider">
						<img src="/public/image/sliders/slider-1-1530x550.jpg" alt="" width="100%">
					</div>
					<div class="slider">
						<img src="/public/image/sliders/slider-2-1530x550.jpg" alt="" width="100%">
					</div>
				</div>
	
			</div>
			<div class="col-md-3">

			</div>
		</div>
	</div>
</div>

<div class="featured-collection">
	<div class="container">
		<div class="collections owl-carousel">
			@if(~collections~)
				{{$collections = ~collections~}}
				@foreach($collections as $collection)
					<a href="/collections/@{{$collection->slug}}">
						<div class="collection bg-white text-center">
							@if($collection->last_product())
								{{$product = $collection->last_product()}}
								<img src="/src/images/@{{$product->images()->main}}" alt="">
							@endif
							<h6>@{{$collection->name}}</h6>
						</div>
					</a>
				@endforeach
			@endif
		</div>
	</div>
</div>

<div class="arrivals mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="bg-white new-arrivals border-radius p-2">

				</div>
			</div>
			<div class="col-md-6">
				<div class="bg-white top-selling border-radius p-2">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="super-sales mt-5">
	<div class="container">
		<div class="sales-box bg-white border-radius p-1 pb-2">
			<div class="super-sales-title pt-1 pl-2">
				<h5>Super Sales</h5>
			</div>
			<div class="super-sales-items sss-scroll owl-carousel">
				@if(~sales~)
					{{$sales = ~sales~}}
					@foreach($sales as $product)
						<div class="sale-item">
							<div class="sales-img">
								<a href="/@{{$product->collection()->slug.'/'.$product->slug.'/'.$product->id}}">
									<img src="/src/images/@{{$product->images()->main}}" alt="">
								</a>
							</div>
							<div class="sales-details text-center">
								<a href="/@{{$product->collection()->slug.'/'.$product->slug.'/'.$product->id}}">
									<p class="item-name"><small>@{{$product->name}}</small></p>
								</a>
								<div class="d-flex justify-content-between">
									<small><b>@{{$product->price}}</b></small>
									<small class="text-secondary"><del>@{{$product->price}}</del></small>
								</div>
							</div>
							<div class="sales-actions mt-3">
								<div class="d-flex justify-content-center">
									<button class="btn btn-primary btn-sm mr-1">
										<i class="pe-7s-cart"></i>	Add to cart
									</button>
									<button class="btn btn-light btn-sm">
										<i class="pe-7s-refresh-2"></i>
									</button>
								</div>
							</div>
						</div>
					@endforeach
				@endif
			</div>
		</div>
	</div>
</div>

@if(~collections~)
	{{$collections = ~collections~}}
	@foreach($collections as $collection)
		<div class="super-sales mt-5">
			<div class="container">
				<div class="sales-box bg-white border-radius p-1 pb-2">
					<div class="super-sales-title pt-1 pl-2">
						<div class="d-flex justify-content-between">
							<h5>Shop - @{{$collection->name}}</h5>
							<a href="/collections/@{{$collection->slug}}" class="mr-2"> view all <i class="pe-7s-angle-right"></i> </a>
						</div>
					</div>
					<div class="super-sales-items @{{$collection->slug}} owl-carousel">
						{{$products = $collection->products()}}
						@if($products)
							@foreach($products as $product)
								<div class="sale-item">
									<div class="sales-img">
										<a href="/@{{$product->collection()->slug.'/'.$product->slug.'/'.$product->id}}">
											<img src="/src/images/@{{$product->images()->main}}" alt="">
										</a>
									</div>
									<div class="sales-details text-center">
										<a href="/@{{$product->collection()->slug.'/'.$product->slug.'/'.$product->id}}">
											<p class="item-name"><small>@{{$product->name}}</small></p>
										</a>
										<div class="d-flex justify-content-between">
											<small><b>@{{$product->price}}</b></small>
											<small class="text-secondary"><del>@{{$product->price}}</del></small>
										</div>
									</div>
									<div class="sales-actions mt-3">
										<div class="d-flex justify-content-center">
											<button class="btn btn-primary btn-sm mr-1">
												<i class="pe-7s-cart"></i>	Add to cart
											</button>
											<button class="btn btn-light btn-sm">
												<i class="pe-7s-refresh-2"></i>
											</button>
										</div>
									</div>
								</div>
							@endforeach
						@endif
					</div>
				</div>
			</div>
		</div>
	@endforeach
@endif