@{{extends "layout/app"}}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->

                <div class="row">
                    <!--begin: Search Form-->
                    <div class="col-md-12 mt-5 mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3">
                                <button class="btn btn-primary px-6 font-weight-bold" type="button" data-toggle="modal" data-target="#CreateGroup">Create Group</button>
                            </div>
                            <div class="col-lg-9 col-xl-9">
                                <div class="row align-items-center">
                                    <div class="col-md-8 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                            <select class="form-control" id="kt_datatable_search_status">
                                                <option value="">All</option>
                                                <option value="/active" @{{~group~ == 'active' ? 'selected' : null}}>Active</option>
                                                <option value="/blocked" @{{~group~ == 'blocked' ? 'selected' : null}}>Blocked</option>
                                                <option value="/verified" @{{~group~ == 'verified' ? 'selected' : null}}>Verified</option>
                                                <option value="/unverified" @{{~group~ == 'unverified' ? 'selected' : null}}>Unverified</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-xl-3 mt-5 mt-lg-0">
                                <a href="#" class="btn btn-light-primary px-6 font-weight-bold">Search</a>
                            </div> -->
                        </div>
                    </div>
                    <!--end::Search Form-->

                    <div class="col-md-12">
                        <!--begin: Datatable-->
                        <div class="kt_datatable datatable datatable-bordered datatable-head-custom" id="Contacts"></div>
                        <!--end: Datatable-->
                    </div>
                </div>

             <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@{{ load "app/modals/contacts" }}

@startScripts
<script>
    var DATA_URL = "/api/get-contacts";
</script>
<script src="/public/app/tables/Contacts.js"></script>
@endScripts