<div class="uac-menu-bar">
    <div class="container">
        <div class="d-flex justify-content-between">

            <div class="uac-menu-toggle-wrapper">
                <span class="flaticon-menu-2 uac-menu-toggle"></span>
            </div>

            <ul class="uac-menu-list border-radius">
                <a href="/uac/dashboard">
                    <li class="active"> <i class="flaticon-laptop"></i> <span>Dashboard</span></li>
                </a>
                <a href="/uac/orders">
                    <li> <i class="flaticon-open-box"></i> <span>Orders</span></li>
                </a>
                <a href="/uac/saved-items">
                    <li> <i class="icofont-heart"></i> <span>Saved Items</span></li>
                </a>
                <a href="/uac/reviews">
                    <li> <i class="flaticon-comment"></i> <span>Reviews</span></li>
                </a>
                <a href="/uac/delivery-address">
                    <li> <i class="flaticon2-delivery-truck"></i> <span>Delivery Address</span></li>
                </a>
                <a href="/uac/gift-cards">
                    <li> <i class="icofont-credit-card"></i> <span>Gift Cards</span></li>
                </a>
    
            </ul>

            <ul>
    
                <a href="/uac/settings">
                    <li class="right">
                        <i class="flaticon2-user-1"></i>
                        <!-- <b>Settings</b> -->
                        <!-- <i class="flaticon2-user-1"></i> <b></b>  -->
                    </li>
                </a>
                <a href="/uac/notifications">
                    <li class="right"> <i class="flaticon2-bell-2"></i></li>
                </a>
                <a href="/uac/wallet">
                    <li class="right mt-1">
                        <i class="icofont-wallet"></i> <span>Wallet: &#8358;0.00</span>
                    </li>
                </a>
            </ul>

        </div>
    </div>
</div>