<div class="carting-body-inner mb-5 fadeInUp animated">
    
    <div class="carting-success-message mt-5 mb-5">
        <div class="text-center">
            <i class="icofont-check-circled text-success"></i>
            <p class="mt-2">Item has been added cart</p>
        </div>
    </div>
    
    <div class="carting-actions container">
        <div class="mb-2">
            <a href="/cart" class="btn btn-light border-50 col-md-12">View Cart</a>
        </div>
        <div class="mb-2">
            <a href="/secure/checkout" class="btn btn-primary border-50 col-md-12">Checkout now</a>
        </div>
        <div class="mb-2">
            <a href="#remove" dtr-item="@{{~item~}}" class="btn btn-outline-danger border-50 col-md-12 ctRemoveItem">Remove Item</a>
        </div>
    </div>
    

    <div class="text-center msgCenter mb-5"></div>
</div>