<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>Welcome to Boiler 1.0</h4>
    @if(strtoupper("~banana~") !== strtolower("~orange~"))
        @{{"~banana~ is not ~orange~"}}
    @endif

    @foreach(~apple~ as $key => $value)
        <span>Say banana</span>
    @endforeach

    @{{"~banana~"}} and @{{"~orange~"}}
    @{{10 * 10}}

    @foreach(~apple~ as $key => $value)
        @{{$key + 1}}
    @endforeach

    @if("a" == "n")
        @{{"Console log A"}}
    @endif

    @if(~user~["isauthenticated"])
        <span>@{{~user~["username"]}}</span>
    @endif
</body>
</html>