<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bundles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bundles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bundles/css/main.css">
</head>
<body>
    <div class="container">
        <div class="wel">
            <div class="text-center">
                <img src="" alt="boiler php" width="70px">
                <h4 class="wel-text">Welcome to Boiler 1.0</h4>
            </div>
        </div>
    </div>
</body>
</html>