@{{extends "admin/shared/layout"}}

<div class="content-wrapper">
    
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex mb-5 justify-content-between">
                        <h4 class="card-title">Variations</h4>
                        <div class="actions">
                            <a href="/a/variations/add" class="btn btn-sm btn-inverse-info"><i class="mdi mdi-plus"></i> Add</a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> #Id </th>
                                    <th> Name </th>
                                    <th> Created by </th>
                                    <th> Created Date </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody api-table="/api/a/get-variations-table" api-modal="Variation" api-actions="edit, view, delete" 
                            api-action-links="/api/a/variation/, /api/a/variation/, /api/a/variation/"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @{{load "admin/modals/variations"}}
</div>
<!-- content-wrapper ends -->