@{{extends "admin/shared/layout"}}

@{{load "admin/modals/items"}}

@if(~confirmed~)
<div class="toast-notification success">
    <h6 class="text-white"><b>Confirmed!</b></h6>
    <p>Item has been confirmed successfully.</p>
</div>
@endif

<div class="content-wrapper">
    
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex mb-5 justify-content-between">
                        <h4 class="card-title">@{{~heading~}}</h4>
                    </div>
                    
                    <div class="table-responsive">
                        <table id="table" class="table">
                            <thead>
                                <tr>
                                    <th> #Id </th>
                                    <th> Order ID </th>
                                    <th> Product </th>
                                    <th> Amount </th>
                                    <th> Variant </th>
                                    <th> Quantity </th>
                                    <th> Date </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            @if(~group~ == 'pending')
                            <tbody api-table="/api/a/get-pending-order-items-table" api-actions="" 
                            api-action-links="">
                            @elif(~group~ == 'confirmed')
                            <tbody api-table="/api/a/get-confirmed-order-items-table" api-actions="" 
                            api-action-links="">
                            @elif(~group~ == 'shipped')
                            <tbody api-table="/api/a/get-shipped-order-items-table" api-modal="ItemConfirm" api-actions="confirm" 
                            api-action-links="/api/a/items/">
                            @endif
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- content-wrapper ends -->