<footer class="mt-0 bg-white">
    <div class="col-md-12 p-3">
        <div class="container">
            <div class="d-flex justify-content-between">
                <p class="text-dark">
                    <small>
                       &copy; 2020 <a href="" class="text-primary">Wearslot</a>. 
                        Powered by <a href="">Violet Inc.</a>
                    </small>  
                </p>
                <div class="q-links">
                    <a href="" class="mr-2"> <small>Our Terms -</small> </a>
                    <a href=""> <small>Privacy Policy -</small> </a>
                    <!-- <a href=""> <small>Privacy Policy -</small> </a> -->
                </div>
            </div>
        </div>
    </div>
</footer>