<header class="header">
	<div class="col-md-12" id="header-middle">
		<div class="row pt-2 pb-1 header-inner">
			<div class="col-md-3">
				<div class="d-flex justify-content-between">
					<div class="d-flex">
						<div class="logo pt-1">
							<a href="/">
								<h4 class="text-white"><b>WEARSLOT</b></h4>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 col-sm-12 search">
				<div class="text-center">
                    <h5 class="mt-1 text-white">@{{~header~}}</h5>
                </div>
			</div>
			<div class="col-md-1"></div>
			@if(!~hide_cart~)
			<div class="col-md-2 top-side">
				<ul class="d-flex justify-content-between mt-1">
					<li class="text-center text-white cart-btn mr-3">
						<a href="/cart"><i class="icofont-cart-alt"></i> <span>Cart</span> </a>
					</li>
					<li class="text-center text-white">
						<a href=""><i class="pe-7s-info"></i> <span>Help</span> </a>
					</li>
				</ul>
			</div>
			@endif

			@if(~v_login~)
			<div class="col-md-2 top-side">
				<ul class="d-flex justify-content-end mt-1">
					<li class="text-center text-white mr-3">
						<a href="/login"> <span>Login</span> </a>
					</li>
				</ul>
			</div>
			@endif

			@if(~v_reg~)
			<div class="col-md-2 top-side">
				<ul class="d-flex justify-content-end mt-1">
					<li class="text-center text-white mr-3">
						<a href="/register"> <span>Register</span> </a>
					</li>
				</ul>
			</div>
			@endif
		</div>
	</div>
</header>