<!-- Modal -->
<div class="modal fade" id="editCategory" tabindex="-1" role="dialog" aria-labelledby="editCategory"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/api/a/collection/edit-category" api-modal-form="edit" edit="true" method="post" class="ajaxForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" api-edit-role="category" api-field-key="id">
                    <div class="form-group">
                        <label for="Name"><b>Collection <span>*</span></b></label>
                        <select class="form-control" validate-field="true" validation-message="Select a collection*"
                        api-options="/api/a/get-collections" name="collection">
                            <option value="">**select collection**</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Name"><b>Category Name <span>*</span></b></label>
                        <input type="text" name="category" validate-field="true" validation-message="category name cannot be empty *"
                        api-edit-role="category" api-field-key="name" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="viewCategory" tabindex="-1" role="dialog" aria-labelledby="editCategory"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryLabel">View Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p><b>ID: </b> <span api-view-role="category" api-text-key="id"></span></p>
                    <p><b>Name: </b> <span api-view-role="category" api-text-key="name"></span></p>
                    <p><b>Collection: </b> <span api-view-role="category" api-text-key="collection"></span></p>
                    <p><b>Created By: </b> <span api-view-role="category" api-text-key="creator"></span></p>
                    <p><b>Created Date: </b> <span api-view-role="category" api-text-key="created_date"></span></p>
                    <p><b>Last Updated By: </b> <span api-view-role="category" api-text-key="updator"></span></p>
                    <p><b>Last Updated Date: </b> <span api-view-role="category" api-text-key="updated_date"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-labelledby="editCategory"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/api/a/collection/delete-category" api-modal-form="delete" edit="true" method="post" class="ajaxForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryLabel">Delete Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <b api-text-key="name" api-delete-role="category"></b> category.
                    <input type="hidden" name="id" api-field-key="id" api-delete-role="category">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>