@{{extends "shared/auth/auth"}}

<section class="checkout-section pt-5 pb-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="text-center">
                    <h3>Select Your Preferred Option</h3>
                </div>
                <div class="payment-option">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="paystack" class="option-card">
                                    <img src="/public/image/payments/paystack-s.png" alt="">
                                    <input type="radio" name="gateway" class="gateway hide" id="paystack" value="Paystack">
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="flutterwave" class="option-card">
                                    <img src="/public/image/payments/flutterwave-s.svg" class="mt-2 mb-3" width="300px" alt="">
                                    <input type="radio" name="gateway" class="gateway hide" id="flutterwave" value="Flutterwave">
                                </label>
                            </div>
                        </div>
                        <div class="text-right mt-5">
                            <div class="col-md-12">
                                <button class="btn btn-primary border-50 mr-2 check-selection">Make Payment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>