<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/public/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">
                        @{{auth()->firstname}} 
                        @{{auth()->lastname}}
                    </span>
                    
                    <span class="text-secondary text-small">@{{auth()->role()->name}}</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-monitor-dashboard menu-icon"></i>
            </a>
            <div class="collapse" id="products">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/a/products">Approved Products</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/a/products/pending">Pending Products</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/a/products/hidden">Hidden Products</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/a/products/add">Add Products</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="orders">
                <span class="menu-title">Orders</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="orders">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/create">Create Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/new">Recent Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/confirmed">Confirmed Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/processed">Processed Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/shipped">Shipped Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/completed">Completed Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/cancelled">Cancelled Orders</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/orders/returned">Returned Orders</a> </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#order-items" aria-expanded="false" aria-controls="order-items">
                <span class="menu-title">Order Items</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="order-items">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/a/order/items/pending">Pending Items</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/order/items/shipped">Shipped Items</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/order/items/confirmed">Comfirmed Items</a> </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#payments" aria-expanded="false" aria-controls="payments">
                <span class="menu-title">Payments</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-bell-ring menu-icon"></i>
            </a>
            <div class="collapse" id="payments">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/a/payments/transactions">Transaction Logs</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/payments/withdrawals/new">New Withdrawals</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/payments/withdrawals/processed">Processed Withdrawals</a> </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#vendors" aria-expanded="false" aria-controls="vendors">
                <span class="menu-title">Vendors</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
            <div class="collapse" id="vendors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/a/vendors/approved">Approved Vendors</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/a/vendors/pending">Pending Vendors</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/a/vendors/blocked">Blocked Vendors</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/a/customers">
                <span class="menu-title">Customers</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#collections" aria-expanded="false" aria-controls="collections">
                <span class="menu-title">Collections</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="collections">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/a/collections">Collections</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/a/collections/add">Add Collections</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/a/collection/categories">Categories</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/a/collection/categories/add">Add Categories</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/a/variations">
                <span class="menu-title">Variations</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/a/settings">
                <span class="menu-title">Settings</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/a/logout">
                <span class="menu-title">Logout</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>