.step-list {
  list-style: none;
  padding: 0px;
}

.step-list-horizontal {
  display: flex;
}

.step-list li {
  flex: 1;
  margin-right: 4px;
}

@media (max-width:480px) {
  .step-list-horizontal {
    display: none !important;
  }
}

.step-validation-message {
  display: block;
  clear: left;
  font-size: 13px;
  float: none !important;
}

.step-list li:last-child {
  margin-right: 0px;
}


.step-badge {
  padding: 8px 5px;
  color: #888888;
  cursor: pointer;
  font-family: "ubuntu-regular", sans-serif;
}

.step-badge.active {
  /* background-color: rgba(182, 109, 255, 0.2); */
  color: #8950FC;
}

.step-badge.completed {
  color: rgba(27, 207, 180, 0.2);
}

.step-badge.error {
  color: rgba(254, 124, 150, 0.2);
}

.step-count a.step-counter {
  padding: 5px 8px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #9e9d9d;

}

.step-badge.active .step-count a.step-counter {
  background-color: #ffffff;
  color: #8950FC;
  border-color: #8950FC;
}

.step-badge.active .step-title b {
  color: #b66dff;
}

.step-badge.completed .step-count a.step-counter {
  background-color: #ffffff;
  color: #1bcfb4;
  border-color: #1bcfb4;
}

.step-badge.completed .step-title b {
  color: #1bcfb4;
}

.step-badge.completed .step-title span {
  color: #1bcfb4;
}

.step-badge.error .step-count a.step-counter {
  background-color: #ffffff;
  color: #fe7c96;
  border-color: #fe7c96;
}

.step-badge.error .step-title b {
  color: #fe7c96;
}

.step-badge.error .step-title span {
  color: #fe7c96;
}

.step-title span {
  display: block !important;
  font-size: 13px;
}

.form-light-box {
  padding: 40px 40px;
}

@media (max-width: 480px) {
  .form-light-box {
    padding: 5px 5px !important;
  }
}

.image-box {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #f8f8f8;
}

.image-box .thumbnail {
  display: inline-block;
  margin: 0px auto;
  border: 1px solid #dcdcdc;
  position: relative;
  text-align: center;
  padding-bottom: 5px;
}

.image-box .thumbnail.small {
  margin: 3px;
}

.image-box .thumbnail img {
  padding: 2px;
  max-width: 200px;
}

.image-box .thumbnail.small img {
  width: 150px;
  display: block;
}

.image-box .thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00000071;
  align-items: center;
}

.var-image {
  width: 150px;
}

.var-image img {
  width: 100%;
  padding: 3px;
} 

.hide {
  display: none !important;
}

.step-modal-hide {
  display: none;
}

.no-pading {
  padding: 0px;
}

.step-overlay {
  position: fixed;
  z-index: 20000;
  width: 100%;
  height: 100%;
  background-color: #0000008a;
  top: 0;
  left: 0;
}

.step-overlay .step-modal-box {
  background-color: #fff;
  margin: 150px auto;
  width: 440px;
  min-height: 230px;
  border-radius: 5px;
  padding: 23px 30px;
}

@media (max-width: 480px) {
  .step-overlay .step-modal-box {
    width: 85% !important;
  }
}

.step-overlay .step-modal-box .step-icon {
  font-size: 65px;
  color: #fe7c96;
}

.step-overlay .step-modal-box .step-icon.success {
  color: #07cdae !important;
}

.step-overlay .step-modal-box .step-message {
  margin-top: 10px;
  font-family: "ubuntu-regular", sans-serif;
}

.divider {
  width: 100%;
	border: none;
  border-top: 1px solid #e7dee9;
  display: block;
  margin-bottom: 20px;
}

.bordered-top {
  border: none;
  border-top: 1px solid #e7dee9;
}

.step-overlay .step-loading {
    margin: 200px auto;
    border-radius: 5px;
    padding: 23px 30px;
    display: inline-block;
}

.hide-box {
  display: none;
}