.step-list {
  list-style: none;
  padding: 0px;
}

.step-list-horizontal {
  display: flex;
}

.step-list li {
  flex: 1;
  margin-right: 10px;
}

.step-list li:last-child {
  margin-right: 0px;
}

.step-badge {
  padding: 13px 17px;
  background-color: #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
  font-family: "ubuntu-regular", sans-serif;
}

.step-badge.active {
  background-color: rgba(182, 109, 255, 0.2);
}

.step-badge.completed {
  background-color: rgba(27, 207, 180, 0.2);
}

.step-badge.error {
  background-color: rgba(254, 124, 150, 0.2);
}

.step-count a.step-counter {
  padding: 10px 12px;
  border-radius: 50px;
  background-color: #d7d7d7;
  font-weight: bold;

}

.step-badge.active .step-count a.step-counter {
  background-color: #ffffff;
  color: #b66dff;
}

.step-badge.active .step-title b {
  color: #b66dff;
}

.step-badge.completed .step-count a.step-counter {
  background-color: #ffffff;
  color: #1bcfb4;
}

.step-badge.completed .step-title b {
  color: #1bcfb4;
}

.step-badge.completed .step-title span {
  color: #1bcfb4;
}

.step-badge.error .step-count a.step-counter {
  background-color: #ffffff;
  color: #fe7c96;
}

.step-badge.error .step-title b {
  color: #fe7c96;
}

.step-badge.error .step-title span {
  color: #fe7c96;
}

.step-title span {
  display: block !important;
  font-size: 13px;
}

.form-light-box {
  background-color: #F3F6F9;
  border-radius: 5px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.image-box {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #f8f8f8;
}

.image-box .thumbnail {
  display: inline-block;
  margin: 0px auto;
  border: 2px solid #dcdcdc;
  position: relative;
  text-align: center;
  padding-bottom: 5px;
}

.image-box .thumbnail.small {
  margin: 3px;
}

.image-box .thumbnail img {
  padding: 4px;
}

.image-box .thumbnail.small img {
  width: 150px;
  display: block;
}

.image-box .thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00000071;
  align-items: center;
}

.hide {
  display: none !important;
}

.no-pading {
  padding: 0px;
}

.step-overlay {
  position: fixed;
  z-index: 20000;
  width: 100%;
  height: 100%;
  background-color: #0000008a;
  top: 0;
  left: 0;
}

.step-overlay .step-modal-box {
  background-color: #fff;
  margin: 150px auto;
  width: 440px;
  height: 230px;
  border-radius: 5px;
  padding: 23px 30px;
}

.step-overlay .step-modal-box .step-icon {
  font-size: 65px;
  color: #fe7c96;
}

.step-overlay .step-modal-box .step-icon.success {
  color: #07cdae !important;
}

.step-overlay .step-modal-box .step-message {
  margin-top: 10px;
  font-family: "ubuntu-regular", sans-serif;
}

.divider {
  width: 100%;
	border: none;
  border-top: 1px solid #e7dee9;
  display: block;
  margin-bottom: 20px;
}

.step-overlay .step-loading {
    margin: 200px auto;
    border-radius: 5px;
    padding: 23px 30px;
    display: inline-block;
}